.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-left: 5rem;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-right: 5rem;
}

.image {
  border-radius: 100%;
}

.card {
  width: 75%;
  height: 75%;
}

.form {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    gap: 0.5rem;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }
  .actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
